# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------
# Virtual Environment
# -----------------------------
.venv/
venv/
env/

# -----------------------------
# macOS
# -----------------------------
.DS_Store
**/.DS_Store

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# Database
# -----------------------------
*.db
*.sqlite3

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Python cache & testing
# -----------------------------
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/